* {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: whitesmoke;
    margin: 0;
}

body {
    background-color: #a9a9a9;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
}

html {
    height: 100vh;
}

p {
    white-space: pre;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    padding-right: 24px;
    padding-bottom: 32px;
    font-size: smaller;
    bottom: 0;
}

hr {
    flex-grow: 1;
    margin-right: 28px;
    margin-top: 4px;
    background-color: whitesmoke;
    height: 1px;
}

.subtitle {
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 9px;
}

.tira-img {
    height: 48px;
    width: 48px;
    padding: 7px;
}

.top-nav-bar {
    background-color: #20333c;
}

.main-headers {
    font: 'Segoe UI';
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    grid-template-rows: 2fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
}

.row {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-right: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: #F0F0F0;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

 .sticker { 
    text-align: center;
    background-color: transparent;
    width: 3rem;
    border-style: solid;
    border-color: darkred;
    border-width: medium;
    color: darkred;
    position: absolute;
    transform: rotate(-30deg);
    margin-left: -120px;
    margin-top: -58px;
}

/* .card::after {
    content: 'בתוקף'; 
    padding: 0.5rem;
    width: 4rem;
    background-color: transparent;
    color: darkred;
    border-style: solid;
    border-color: darkred;
    border-width: thick;
    text-align: center;
    transform: rotate(-30deg);
    align-self: flex-start;
} */

.material-icons {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.main-description {
    color: black;
    font-size: 12px;
    text-align: center;
}

#grid-elements {
    display: grid;
}

#nav-bar-main {
    display: flex;
}

#big-title {
    padding: 3px;
    width: 90px;
    margin-top: 2px;
}