* {
  direction: rtl;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: whitesmoke;
  margin: 0;
}

body {
  background-color: #a9a9a9;
}

main {
  display: flex;
  flex-direction: column;
}

html {
  height: 100vh;
}

footer {
  padding: 24px 24px 32px 0;
  font-size: 14px;
}

hr {
  flex-grow: 1;
  margin: 4px 28px 0 0;
  background-color: whitesmoke;
  height: 1px;
}
span {
  color: dimgray;
  position: absolute;
  font-size: 26px;
  height: 30px;
  width: 22px;
  margin: 0 110px 55px 0;
}

.nav-bar-main {
  display: flex;
}

.subtitle {
  padding: 6px 24px 9px 0;
}

.tira-img {
  height: 48px;
  width: 48px;
  padding: 7px;
}

.top-nav-bar {
  background-color: #20333c;
}

.main-headers {
  font: "Segoe UI";
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: #f0f0f0;
  width: 140px;
  height: 55px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin: 5px 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.material-icons {
  font-size: 12px;
  color: black;
  margin-bottom: 5px;
  height: 34px;
  width: 34px;
}

.main-description {
  color: black;
  font-size: 12px;
  text-align: center;
}

.sticker {
  text-align: center;
  background-color: transparent;
  width: 49px;
  border: medium solid darkred;
  color: darkred;
  position: absolute;
  transform: rotate(335deg);
  margin: 0 110px 55px 0;
}

.big-title {
  padding: 3px;
  margin-top: 2px;
}
